*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 30px;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
#logo{
    width: 20vw;
   
}
h1{
    color: aliceblue;
    font-family: "Protest Guerrilla", sans-serif;
}
#name{
    color: rgb(223, 6, 6);
    font-size: 45px;
}
#va{
    color: rgb(6, 223, 223);
    font-size: 45px;
}
#voice{
    width: 10vw;
    display: none;
    cursor: pointer;
}
#btn{
    padding: 10px;
    display: flex;
    width: 30%;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(5, 119, 5);
    color: rgb(103, 15, 121);
    font-weight: bold;
    box-shadow: 2px 2px 10px 2px green;
    transition: all 0.5s ;
}
#btn:hover{
    background-color: rgb(2, 179, 2);
    box-shadow: 2px 2px 10px 2px lime;
    letter-spacing: 2px;
}